*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#gradeForm{
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    color:darkblue;
}

#head-2{
     border: 2px solid black;
     width: 50%;
}
